---
import ArticleImageText from './ArticleImageText.astro';
import SectionCurvedBg from './SectionCurvedBg.astro';
import Button from '../Button.astro';
import imgTopDesktop1 from '../../assets/bg-section-top-desktop-1.svg';
import imgTopMobile1 from '../../assets/bg-section-top-mobile-1.svg';
import imgBottomDesktop1 from '../../assets/bg-section-bottom-desktop-1.svg';
import imgBottomMobile1 from '../../assets/bg-section-bottom-mobile-1.svg';
import imgTopDesktop2 from '../../assets/bg-section-top-desktop-2.svg';
import imgTopMobile2 from '../../assets/bg-section-top-mobile-2.svg';
import imgBottomDesktop2 from '../../assets/bg-section-bottom-desktop-2.svg';
import imgBottomMobile2 from '../../assets/bg-section-bottom-mobile-2.svg';

import { getCollection } from 'astro:content';
const allPosts = await getCollection('posts');
---

<div class="content">
    <SectionCurvedBg
        imgTopDesktop={imgTopDesktop1}
        imgTopMobile={imgTopMobile1}
        imgBottomDesktop={imgBottomDesktop1}
        imgBottomMobile={imgBottomMobile1}
        dataArticle={allPosts[0].data}
    />

    <section class="main-section-2">
        <div class="container">
            <ArticleImageText data={allPosts[1].data} />
        </div>
    </section>

    <SectionCurvedBg
        imgTopDesktop={imgTopDesktop2}
        imgTopMobile={imgTopMobile2}
        imgBottomDesktop={imgBottomDesktop2}
        imgBottomMobile={imgBottomMobile2}
        dataArticle={allPosts[2].data}
    />
    <section class="main-section-3">
        <div class="container">
            <h2 class="main-section-3-title">Ready To Build Your Community?</h2>
            <Button />
        </div>
    </section>
</div>

<style is:global>
    .main-section-2 {
        margin-block: 7rem;
    }

    .main-section-3 {
        margin-block: 3rem 7rem;
        text-align: center;
    }

    .main-section-3-title {
        font-size: clamp(1.3rem, 3vw, 2.2rem);
        margin-bottom: 3rem;
    }

    /* global: switch the side of the article 2 */
    .main-section-2 article .wrap-text {
        grid-column: 2/ 3;
        grid-row: 1;
        justify-self: end;
    }

    .main-section-2 article img {
        grid-column: 1 /2;
        grid-row: 1;
    }

    @media (min-width: 800px) {
        .main-section-3 {
            margin-block: 10rem;
        }
    }
</style>
